In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
datasets = pd.read_csv("./input/train.csv")
datasets.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
datasets.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
corr_matrix = datasets.corr()
corr_matrix

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [232]:
titles={
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royalty",
    "Don":        "Royalty",
    "Sir" :       "Royalty",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the Countess":"Royalty",
    "Dona":       "Royalty",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royalty"
}

def abstract_title(name):
    return titles[name.split('.')[0].split(',')[1].strip()]

def preprocessing(datasets):
    datasets["Title"] = datasets.Name.apply(abstract_title)
    return datasets
    
# datasets.head()

In [234]:

drop_attribs = ["Cabin", "Ticket", "Name"]
one_hot_attribs = ["Sex", "Embarked", "Title"]

datasets = preprocessing(datasets.dropna(subset=["Sex", "Embarked"]))
# print(datasets.head())
X_train_num = datasets.drop(["Survived"]+one_hot_attribs+drop_attribs, axis=1)
y_train = datasets["Survived"].copy()

X_train_num.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250
3            4       1  35.0      1      0  53.1000
4            5       3  35.0      0      0   8.0500

In [235]:
datasets_test = preprocessing(pd.read_csv("./input/test.csv"))

datasets_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs

In [236]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [237]:
from sklearn.preprocessing import Imputer as SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

num_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("std_scaler", StandardScaler()),
])
X_train_num_prepared = num_pipeline.fit_transform(X_train_num)

In [238]:
X_train_num_prepared

array([[-1.73250451,  0.82520863, -0.56367407,  0.43135024, -0.47432585,
        -0.50023975],
       [-1.72861124, -1.57221121,  0.66921696,  0.43135024, -0.47432585,
         0.78894661],
       [-1.72471797,  0.82520863, -0.25545131, -0.47519908, -0.47432585,
        -0.48664993],
       ...,
       [ 1.72471797,  0.82520863, -0.10133993,  0.43135024,  2.00611934,
        -0.17408416],
       [ 1.72861124, -1.57221121, -0.25545131, -0.47519908, -0.47432585,
        -0.0422126 ],
       [ 1.73250451,  0.82520863,  0.20688282, -0.47519908, -0.47432585,
        -0.49017322]])

In [239]:
from future_encoders import ColumnTransformer, OneHotEncoder

num_attribs = list(X_train_num)

full_pipeline = ColumnTransformer([
    ("num", num_pipeline, num_attribs),
    ("cat", OneHotEncoder(), one_hot_attribs),
])

# datasets["Embarked"][datasets["Embarked"].isnull()]

X_train_prepared = full_pipeline.fit_transform(datasets)
X_train_prepared

array([[-1.73250451,  0.82520863, -0.56367407, ...,  0.        ,
         0.        ,  0.        ],
       [-1.72861124, -1.57221121,  0.66921696, ...,  1.        ,
         0.        ,  0.        ],
       [-1.72471797,  0.82520863, -0.25545131, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 1.72471797,  0.82520863, -0.10133993, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.72861124, -1.57221121, -0.25545131, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.73250451,  0.82520863,  0.20688282, ...,  0.        ,
         0.        ,  0.        ]])

In [240]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier()
rf_clf.fit(X_train_prepared, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [241]:
from sklearn.model_selection import cross_val_score

cross_val_score(rf_clf, X_train_prepared, y_train, cv=3, scoring="accuracy")

array([0.79461279, 0.81756757, 0.81418919])

In [242]:
X_train_prepared.shape

(889, 17)

## RandomForest

In [246]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_distribs = {
    "n_estimators": randint(low=5000, high=20000),
    "max_features": randint(1, 11),
    "max_depth": randint(1,5),
    "bootstrap": [True, False],
#     "max_leaf_nodes": randint(5,7),
#     "criterion": ["entropy"],
}

rf_clf = RandomForestClassifier()

rnd_search = RandomizedSearchCV(rf_clf, 
                               param_distributions=param_distribs,
                               n_iter=20,
                               cv=3,
                               scoring="accuracy",
#                                 verbose=2,
                               n_jobs=4)
rnd_search.fit(X_train_prepared, y_train)

print(rnd_search.best_score_)
print(rnd_search.best_params_)
final_model = rnd_search.best_estimator_

0.8323959505061868
{'bootstrap': True, 'max_depth': 4, 'max_features': 6, 'n_estimators': 16534}

In [247]:
cvres = rnd_search.cv_results_
for mean_test_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(mean_test_score, params)

0.7930258717660292 {'bootstrap': True, 'max_depth': 3, 'max_features': 1, 'n_estimators': 6126}
0.8222722159730034 {'bootstrap': True, 'max_depth': 3, 'max_features': 10, 'n_estimators': 9432}
0.8008998875140607 {'bootstrap': False, 'max_depth': 3, 'max_features': 2, 'n_estimators': 16128}
0.7862767154105736 {'bootstrap': True, 'max_depth': 1, 'max_features': 4, 'n_estimators': 10897}
0.7862767154105736 {'bootstrap': True, 'max_depth': 1, 'max_features': 3, 'n_estimators': 16935}
0.8211473565804275 {'bootstrap': False, 'max_depth': 4, 'max_features': 3, 'n_estimators': 14043}
0.8278965129358831 {'bootstrap': False, 'max_depth': 4, 'max_features': 10, 'n_estimators': 13343}
0.7862767154105736 {'bootstrap': True, 'max_depth': 1, 'max_features': 7, 'n_estimators': 18485}
0.7896512935883014 {'bootstrap': True, 'max_depth': 2, 'max_features': 4, 'n_estimators': 5677}
0.8143982002249719 {'bootstrap': False, 'max_depth': 3, 'max_features': 7, 'n_estimators': 17577}
0.7930258717660292 {'bootstrap': False, 'max_depth': 2, 'max_features': 8, 'n_estimators': 10052}
0.7862767154105736 {'bootstrap': False, 'max_depth': 1, 'max_features': 8, 'n_estimators': 13988}
0.7862767154105736 {'bootstrap': True, 'max_depth': 1, 'max_features': 10, 'n_estimators': 19790}
0.8222722159730034 {'bootstrap': True, 'max_depth': 3, 'max_features': 10, 'n_estimators': 19442}
0.8222722159730034 {'bootstrap': True, 'max_depth': 3, 'max_features': 10, 'n_estimators': 15877}
0.7862767154105736 {'bootstrap': False, 'max_depth': 1, 'max_features': 5, 'n_estimators': 10627}
0.8323959505061868 {'bootstrap': True, 'max_depth': 4, 'max_features': 6, 'n_estimators': 16534}
0.8312710911136107 {'bootstrap': True, 'max_depth': 4, 'max_features': 6, 'n_estimators': 10348}
0.8301462317210349 {'bootstrap': True, 'max_depth': 4, 'max_features': 6, 'n_estimators': 7155}
0.8188976377952756 {'bootstrap': False, 'max_depth': 3, 'max_features': 5, 'n_estimators': 14031}

## SVM

In [300]:
from sklearn.svm import SVC
from scipy.stats import reciprocal, expon

param_distribs = {
#     "kernel": ["poly"],
    "kernel": ["rbf"],
#     "kernel": ["linear"],
    "C": reciprocal(0.001, 1000),
    "gamma": expon(scale=1.0),
}

svc = SVC()

rnd_search = RandomizedSearchCV(svc, 
                               param_distributions=param_distribs,
                               n_iter=1000,
                               cv=5,
                               scoring="accuracy",
                               n_jobs=4,
#                                verbose=2
                               )
rnd_search.fit(X_train_prepared, y_train)

print(rnd_search.best_score_)
print(rnd_search.best_params_)
final_model = rnd_search.best_estimator_

0.8357705286839145
{'C': 9.593448434573085, 'gamma': 0.02292477110224639, 'kernel': 'rbf'}

## KNN

In [258]:
from sklearn.neighbors import KNeighborsClassifier

param_distribs = {
    "n_neighbors": randint(3, 10),
    "weights": ["uniform", "distance"],
    "algorithm": ["ball_tree", "kd_tree", "brute"],
    "leaf_size": randint(15, 45),
    
}

knn_clf = KNeighborsClassifier()

rnd_search = RandomizedSearchCV(knn_clf, 
                               param_distributions=param_distribs,
                               n_iter=20,
                               cv=5,
                               scoring="accuracy",
#                                verbose=2,
                               n_jobs=4)
rnd_search.fit(X_train_prepared, y_train)

print(rnd_search.best_score_)
print(rnd_search.best_params_)

0.8256467941507312
{'algorithm': 'brute', 'leaf_size': 27, 'n_neighbors': 9, 'weights': 'distance'}

## SGD

In [257]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier()

param_distribs = {
    "max_iter": randint(1, 1001),
#     "weights": ["uniform", "distance"],
#     "algorithm": ["ball_tree", "kd_tree", "brute"],
#     "leaf_size": randint(15, 45),
    
}

rnd_search = RandomizedSearchCV(sgd_clf, 
                               param_distributions=param_distribs,
                               n_iter=20,
                               cv=5,
                               scoring="accuracy",
#                                verbose=2,
                               n_jobs=4)
rnd_search.fit(X_train_prepared, y_train)

print(rnd_search.best_score_)
print(rnd_search.best_params_)

0.8256467941507312
{'max_iter': 496}

## AdaBoost

In [299]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

ab_clf = AdaBoostClassifier()
# cross_val_score(ab_clf, X_train_prepared, y_train, scoring="accuracy", cv=3)

param_distribs = {
#     "learning_rate": randint(0.01, 1000),
    "n_estimators": randint(10, 100),
    "algorithm": ["SAMME"],
    "base_estimator": [
#         DecisionTreeClassifier(max_depth=depth) for depth in range(1, 100),
        LinearSVC(),
#         LogisticRegression(),
#         LogisticRegressionCV(),
    ],
}

rnd_search = RandomizedSearchCV(ab_clf, 
                               param_distributions=param_distribs,
                               n_iter=10,
                               cv=5,
                               scoring="accuracy",
#                                verbose=2,
                               n_jobs=4)
rnd_search.fit(X_train_prepared, y_train)

print(rnd_search.best_score_)
print(rnd_search.best_params_)
final_model = rnd_search.best_estimator_

0.8245219347581553
{'algorithm': 'SAMME', 'base_estimator': LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0), 'n_estimators': 94}

In [262]:
X_test_prepared = full_pipeline.transform(datasets_test)
y_test_pred = final_model.predict(X_test_prepared)

datasets_test["Survived"] = y_test_pred
# datasets_test.head()
test_predictions = datasets_test.loc[:, ["PassengerId", "Survived"]]
# test_predictions.head()
# import os
# os.mkdir("./output")
test_predictions.to_csv("./output/titanic_pred.csv", index=False)